.home .floatingHero + section {
  margin-top: -10rem;
  padding-top: 14rem;
}

.home .features {
  background: white;
  border: none;
}

.floatingHero .feature-img {
  clip-path: ellipse(185% 100% at 50% 0%);
}

.feature {
  border-radius: $box-radius;
  border: none;
}

.splitBanner {
  max-width: 1200px;
  border: none;
  .feature-img {
    border-radius: $box-radius;
    overflow: hidden;
  }
}

.boxHero .feature-img-license, .floatingHero .feature-img-license{
  top: 0;
  bottom: auto;
  right: 0;
  left: auto;
}

.contentTypesStat {
  .statistics-cards {
    justify-content: space-between;
  }

  .statistic {
    flex: 0 0 300px;
    width: 300px;
    margin: 24px 12px;
  }

  .feature-img {
    border-radius: 50%;
    overflow: hidden;
    height: 300px;
    width: 300px;
  }

  .feature-title {
    font-size: 45px;
    margin: 0;
  }

  .feature-description {
    font-size: 24px;
  }
}

@media (max-width: 1250px) {
  .contentTypesStat {
    .statistics-cards {
      justify-content: space-around;
    }
    .statistic {
      flex: 0 0 250px;
      width: 250px;
    }
  
    .feature-img {
      height: 250px;
      width: 250px;
    }
  
    .feature-title {
      font-size: 35px;
      margin: 0;
    }
  
    .feature-description {
      font-size: 20px;
    }
  }
}

@media (max-width: 1050px) {
  .contentTypesStat {
    .statistics-cards {
      justify-content: space-around;
    }
    .statistic {
      flex: 0 0 200px;
      width: 200px;
    }
  
    .feature-img {
      height: 200px;
      width: 200px;
    }
  
    .feature-title {
      font-size: 35px;
      margin: 0;
    }
  
    .feature-description {
      font-size: 20px;
    }
  }
}